numpy
transformers
trl
peft
accelerate
pillow
datasets
vllm
deepspeed
nuscenes-devkit
qwen-vl-utils
Levenshtein


torch
torchvision
torchaudio
pandas
transformers
matplotlib
tqdm
Pillow
decord
pycocotools
pymilvus[milvus_lite]
modelscope
fastapi
uvicorn
python-multipart
aiofiles